<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_header :: header(~{::title})">
	<meta charset="UTF-8"/>
	<title>Input User Information.</title>
</head>
<body>
<th:block th:replace="admin/_nav :: nav(Home)"></th:block>
<h3>User Information Form</h3>

	<form action="#" th:action="@{/admin/user/confirm}" th:object="${userInputForm}" method="post">
		<div>
			<label>First Name</label>
			<input type="text" th:field="*{firstName}" th:value="*{firstName}" />
			<div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">error</div>
		</div>
		<div>
			<label>Last Name</label>
			<input type="text" th:field="*{lastName}" th:value="*{lastName}" />
			<div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">error</div>
		</div>
		<div>
			<label>Email</label>
			<input type="text" th:field="*{email}" th:value="*{email}" />
			<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">error</div>
		</div>
		<div>
			<label>Password</label>
			<input type="text" th:field="*{password}" th:value="*{password}" />
			<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">error</div>
		</div>
		<div>
			<label>Section</label>
			<select th:field="*{sectionName}">
                <option value="">---</option>
            	<option th:each="item : ${SectionName}" th:value="${item}" th:text="${item}">pulldown</option>
            </select>
            <div th:if="${#fields.hasErrors('sectionName')}" th:errors="*{sectionName}">error</div>
		</div>
		<div>
			<label>Salary</label>
			<input type="text" th:field="*{salary}" th:value="*{salary}" />
			<div th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}">error</div>
		</div>
		<div>
			<label>Role</label>
			<select th:field="*{roleName}">
                <option value="">---</option>
            	<option th:each="item : ${RoleName}" th:value="${item}" th:text="${item}">pulldown</option>
            </select>
            <div th:if="${#fields.hasErrors('roleName')}" th:errors="*{roleName}">error</div>
		</div>

		<button type="submit">confirm</button>
		<button type="reset">reset</button>

	</form>
</body>
</html>